<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="emergencyType">
      <ion-segment-button value="comum">
        Comum
      </ion-segment-button>
      <ion-segment-button value="emergency">
        Emergência
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="emergencyType">
    <ion-list *ngSwitchCase="'emergency'">
      <ng-container *ngFor="let emergency of emergencys">
        <a ion-item *ngIf="emergency.emergency == true" (click)="openModal('EMERGENCY')">
          <ion-thumbnail item-start>
            <img src="https://www.elastic.co/assets/bltada7771f270d08f6/enhanced-buzz-1492-1379411828-15.jpg">
          </ion-thumbnail>
          <h2>{{ emergency.name }}</h2>
        </a>
      </ng-container>
    </ion-list>
  
    <ion-list *ngSwitchCase="'comum'">
      <ng-container *ngFor="let emergency of emergencys">
        <a ion-item *ngIf="emergency.emergency == false" (click)="openModal('COMUM')">
          <ion-thumbnail item-start>
            <img src="https://www.elastic.co/assets/bltada7771f270d08f6/enhanced-buzz-1492-1379411828-15.jpg">
          </ion-thumbnail>
          <h2>{{ emergency.name }}</h2>
        </a>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
