<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="emergencyType">
      <ion-segment-button value="comum">
        Comum
      </ion-segment-button>
      <ion-segment-button value="emergency">
        Emergência
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="emergencyType">
    <ion-list *ngSwitchCase="'emergency'">
      <a ion-item *ngFor="let emergency of emergencys" (click)="openModal(emergency.name)">
        <ion-thumbnail item-start>
          <img src="https://www.elastic.co/assets/bltada7771f270d08f6/enhanced-buzz-1492-1379411828-15.jpg">
        </ion-thumbnail>
        <h2>{{ emergency.name }}</h2>
      </a>
    </ion-list>
  
    <ion-list *ngSwitchCase="'comum'">
      <a ion-item *ngFor="let emergency of emergencys" (click)="openModal(emergency.name)">
        <ion-thumbnail item-start>
          <img src="https://www.gettyimages.pt/gi-resources/images/Embed/new/embed2.jpg">
        </ion-thumbnail>
        <h2>{{ emergency.name }}</h2>
      </a>
    </ion-list>
  </div>
</ion-content>
